

@font-face {
    font-family:" BPG Arial";
    src: url("../Fonts/bpg_arial_2009_[FONTS.GE].zip") format("zip");
}
@font-face {
    font-family:" BP mrgvlovani";
    src: url("../Fonts/bpg_mrgvlovani_caps_2010_[FONTS.GE].zip") format("zip") ;
}
@font-face {
    font-family:"bpg";
    src: url("../Fonts/bpg_nino_mtavruli_normal_[FONTS.GE].zip")  format("zip");
}
.left-opener{
    display: none;
    background-color: #fff;
    color: rgba(255, 106, 3, 1);
    border: none;
    
}
.hide{
    display: none !important;
}
.close-hide{
    border: none;
    background-color: rgba(255, 106, 3,1);
    color: #fff;
    margin-left: 200px;
    margin-top: 20px;
}
.left-menu {
      display: none;
      background-color: #ff6a03; 
      position: fixed;
      z-index: 99999;
      height: 100%;
      top: 0;
      right: 0;
      
}
.hide1con{
    width: 300px;
    display: block;
    height: 100%;
    
}
.hide1con li {
    color: rgba(255, 106, 3, 1);
     margin-top: 50px !important;
}
.hide1con a{
    
    color: #000;
    text-decoration: none;
   
}
.hide1con button{
    background-color: rgba(255, 106, 3, 1);
    
}

.show-menu {
    display: block !important;
}


.show {

    display: block !important;
    top: calc(20% + 10px);
}
.dropdown{
    
    position: relative;
    
}
.dropdown-toggle{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.13px;
    border: none;
    background-color: #fff;

}
.dropdown-menu {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 7px;
    position: absolute;
    top: 11%;
    transition: all ease 0.9s;
}

.dropdown-menu a {
    display: block;
    padding: 10px 0;
    opacity: 0.7;
}
.dropdown-menu a:hover{
    opacity: 1;
}

.lang-dropdown{
    
    position: relative;
    
}
.lang-toggle{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.13px;
    border: none;
    background-color: #fff;

}
.lang-menu {
    margin-top:40px;
    display: none;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 7px;
    position: absolute;
    top: 11%;
    transition: all ease 0.9s;
}

.lang-menu a {
    display: block;
    padding: 10px 0;
    opacity: 0.7;
}
.lang-menu a:hover{
    opacity: 1;
}

.head1{
   
    width: 100%;
   font-family:BPG Nino Mtavruli;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.13px;

}
 .ETHNO{
    Width :100%  !important;
    Height:100% !important;
    background-size: cover;

}
.head1con{ 
    align-items: center;
    display: flex;
    justify-content:space-between;
    gap: 30px;
}
.head1con nav {
    width: 150px;
}
.head1con ul {
    display: flex;
    gap: 30px;
}
.head1con li {
    color: #fff;
    margin-top: 15px;
}
.head1con a{ 
    text-decoration: none;
    color: black;
    gap: 20px;
    
}
.head1main{
    display: flex;
}
.lang{
    width: 50px ;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid gray;
}
.flag{
    background-size: cover;
    width: 25px !important;
    height: 25px !important;
}


.main1{
    background-image:  linear-gradient(86.35deg, rgba(255, 106, 3, 0.35) -2.02%, rgba(12, 21, 53, 0.35) 79.67%);
    width: 100%;
    height: 676px;
    font-family: bpg;
    
}   
.main1con{
    background-color: rgba(255, 255, 255, 0.62);
    
    width: 100%;
    transform: translateY(130px);
    text-align: center;
    Height:450px;
    border-radius: 3px;
    border: none;
}
.main1conH{
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #fff ;
    border-radius: 3px;
    padding-top: 100px;
    font-family: bpg ;
    padding-bottom: 50px;
    transform: translateY(40px);
}
.main1conH2{
    font-family: bpg ;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 41.48px;
    color: rgba(78, 84, 100, 1);
}


.detals{
    margin-top: 20px;
    background-color: rgba(255, 106, 3,1);
    color: #fff;
    width: 174px;
    height: 52px;
    border: none;
}
.registr{
    margin-top: 20px;
    margin-left: 30px;
    background-color: #fff;
    color: rgba(255, 106, 3,1);
    width: 174px;
    height: 52px;
    border: none;
}

.dates{
    color: orange;
}
.section3{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.imgS3{
    height: 559px;
    width: 800px;
    background-size: cover;
    background-position: 100% 100%;

}
.textS3{
    margin-left: 70px;
    margin-right: 70px;
    width: 550px;
}
.textS3 h2{
    font-family: BPG Nino Mtavruli;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.81px;
  

}
.textS3 p {
    margin-top: 50px;
    font-family: 'BPG Arial';
    width: auto;
    height: auto;


}
.textS3 .learn{
    background-color: rgba(255, 106, 3, 1);
    width: 202px;
    height: 51px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    font-family: bpg;
}

.section4{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;

}
.textS4{
    margin-left: 70px;
    margin-right: 70px;
    width: 579.2px;
}
.textS4 h2{
    font-family: BPG Nino Mtavruli;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.81px;
  

}
.imgS4{
    width: 800px;
height: 559px;
background-size: cover;


}
.textS4 p {
    margin-top: 50px;
    font-family: BPG Arial;
    width: auto;
    height: auto;


}
.textS4 .learn{
    background-color: rgba(255, 106, 3, 1);
    width: 202px;
    height: 51px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
}

.sec5{
    margin-top: 100px;
     font-family: BP mrgvlovani;
     
}
.section5{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
   
}
.card{
    width: 301px;
  
    border: none;
    box-shadow: 6px 6px 11.2px 4px rgba(0, 0, 0, 0.05);
    
}
.romb{
    margin-left: 1px;
}
.card p {
    font-family: BPG Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 12.2px;
    text-align: left;
    color: rgba(22, 31, 59, 0.65);
    margin-bottom: 20px;

}
.card img{
    border-radius: 12px;
}
.learn-more{
    width: 106px;
    height: 14px;
    font-family: BPG Arial;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 13.8px;
    text-align: left;
    color: black !important; 
    transform: translateY(-20px);
    border-bottom:  3px solid rgba(255, 106, 3, 1); 
    margin-top: 50px;
   
}

     


.sec6{
    font-family: BP;
    margin-top: 100px;
}
.section6{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  
    align-items: center;
}
.section6 div{
    box-shadow: none !important;
    
}


.K{
    margin-left: 100px;
    width: 91px;
    height: 126px;
}
.J{
    height: 225px;
    background-size: cover;
}
.footer{
    background-color: rgba(20, 24, 36, 1);
    color: #fff;
    font-family: BP mrgvlovani;

}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.endF{
    width: 30%;
    height: 30%;
    padding: auto;
}
.ETHN{
    margin-top: 50px;
    width: 80%;
    
    
}

.end1{
    font-family: BP mrgvlovani;
    margin-top: 80px; 
    text-align: center;
}
.end1 ul{
    margin-top: 20px;
   
}
.end1 li {
    color: rgba(12, 21, 53, 0.35);
    text-align: left;
    font-size: large;
    margin-left: 40px;
}
.end1 a{
    color: #fff;
    text-decoration: none;
    
}
.end1 img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.end2{
    font-family: BP mrgvlovani;
    margin-top: 80px;
}
.end2 .lock{
    width: 65px;
    height: 65px;
    background-color: rgba(255, 106, 3, 1);
    border-radius: 4px;
    margin-top: 20px;
}
.end2 a img{
    width: 65px;
    height: 65px;
}
.end2 li {
    color: rgba(12, 21, 53, 0.35);
    display: flex;
    
}
.end2 p {
    margin-top: 30px;
    color: #fff;
    margin-left: 30px;
}
@media (max-width:1500px) {
        .textS4{
        margin-bottom: 50px;
        
    }
    .textS3{
        margin-top: 50px;

    }

} 
@media (max-width:1400px) {
  .endF{
        display: none;
    }    
   
  
}

@media (max-width:1100px) {
    .left-opener{
        display: block;
    }
    .head1main{
        display: none !important;
    }
    .lang-dropdown{
        display: none !important;
    }
    .main1{
        width: auto;
    }
 .main1conH{
    
        height: 370px;
    }
    .main1conH2{
        margin-top: -50px;
        font-weight: 300;
    }
   

}
@media (max-width:985px){
    .end1 li{
        padding-right: 0;
    }
}
@media (max-width:800px){
   .section5{
    margin-left: 50px;
   }
   .sec5 h3{
    margin-left: 50px;
   }
   .sec5 .romb {
    margin-left: 50px;
   }


   
    .A{
        margin-top: 40px;
    }
.S{
    margin-top: 40px;
}
.F{
    margin-bottom: 40px;
}
.G{
    margin-bottom: 40px;
}
.K{
    margin-bottom: 50px;
}
    .main1con{
        width:100%;
    }
    .main1conH{
        height: 370px;
        margin-top: 0;
        
      
    }
    .main1conH2{
        
        font-weight: 100;
        font-size: 24px;
    }
    .detals{
        width: 150px;
       
    }
    .registr{
        width: 150px;
    }
    .imgS4{
        width: 100%;
        height: 559px;
    
    }
    .imgS3{
        height: 559px;
        width: 100%;
    }

}
@media (max-width:500px){
    .footer-content{
        gap: 10px;
    }
    .main1conH{
    
        margin-left: 5px;
        margin-right: 5px;
        
      
    }
    .main1conH2{
     line-height:30px;
    }
    .section5{
        margin-left: 30px;
       }
       .sec5 h3{
        margin-left: 30px;
       }
       .sec5 .romb {
        margin-left: 30px;
       }
 
}
@media (max-width:370px){
    .detals{
        
        height: 30px ;
    }
    .registr{
        margin-top: 0;
        height: 30px ;
        margin-left: 0;
    }
}